<h1> WELCOME TO MY APP!!!</h1>

<p> To demo this app, please sign in as: <br><br>
    <b>email:</b> user@example.com <br>
    <b>password:</b> password
</p>
<p> View the productivity statements from April 2014, for graphs and charts</p>
