/*<--- Nav Bar --->*/

ul.left > li > a{
  color: white;
  font-family: 'courier new';
  font-size: 20px;
}

ul.right > li > a{
  font-family: 'courier new';
}


/*<-- Body -->*/
body{
  background-image:url('/assets/coffee.jpg');
}

body.after {
  background-image:url('/assets/coffee.jpg');
  opacity: 0.8;
}


.small-12{
  margin: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  border-style:solid;
  background-color: rgba(153, 36, 36, 0.9);
  border-color: #2E313D;
  border-width: 10px;
}

.control-label, .checkbox{
  color: white
}


.activity-list li{
  list-style-type: none;
}

.medium-10 {
  text-align: center
}

ul.button-group{
  text-align: center
}

.button:hover{
  background-color: #2E313D;
}

.button{
  background-color:rgba(46,49,61,0.5)
}

.activity-button{
  background-color:rgba(255,0,0,0);
  margin: 100px;
  font-size: 30px;
}

.activity-button a{
  padding: 10px;
  // background: linear-gradient(to right, rgba(240,86,61,0.5), rgba(240,86,61,1));  border-style:solid;
  background: rgba(77, 69, 68, 0.5);
  color: white;
  font-family: 'courier new';
  border-style:solid;
  border-color: #2E313D;
  border-width: 5px;
}

.activity-button a:hover {
  background-color:#2E313D;
  color: white
}

div.timer{
  font-family: 'courier new';

}

p.time{
  font-size: 50px;
  color: white;
}

h1{
  font-family: 'courier new';
  font-weight: bold;
  color: white;
}

ul.button-group .button:hover{
  background: rgba(146,154,24,0)
}
