
/*<-- Nav Bars -->*/
div.my-nav{
  height: 100px;
  width: 100%;
  background-image:url('/assets/shinyblue.jpg');
  margin-top: 10px;
  text-align: center;
}

.my-nav ul{
  margin: 0 auto;
}

.my-nav li {
  height: 90px;
  width: 250px;
  display: inline-block;
  font-size: 30px;
}

.my-nav a{
  height: 90px;
  width: 250px;
  margin-top: 20px;
  color: white;
  padding-left: 10px

}

.my-nav > ul > li > .active,
.my-nav a:hover {
  text-decoration: none;
  color: white;
}

.activity{
  padding: 16px;
}




/*<-- Body -->*/
body{
  background-image:url('/assets/metallic.jpg');
}

// h1{
//   color: #2E313D;
// }
.nav{
  background-image:url('/assets/metallic.jpg');
}
.small-12{
  margin-top: 10px;
  text-align: center;
  background-image:url('/assets/shinygreen.jpg');
  border-style:solid;
  border-color: #2E313D;
  border-width: 10px;
}


.activity-list li{
  list-style-type: none;
}

.medium-10 {
  text-align: center
}

ul.button-group{
  text-align: center
}

.button{
  background-color: #2E313D;
}

.activity-button {
  background-image:url('/assets/shinygreen.jpg');
  font-size: 30px;
}

.activity-button a:hover {
  color: #2E313D
}
.activity-button a{
  padding: 10px;
  background-image:url('/assets/shinygreen.jpg');
  color: white
}

.activity-button a:hover {
  background-image:url('/assets/shinyblue.jpg');
  color: white
}







