<h1> <%= @activity.name %></h1>


<div class='clock'>
<% if !@log %>
  <%= link_to "Clock In", activity_logs_path(@activity), class: 'clock-in button', :method => :post, remote: true %>
<% else %>
  <%= link_to "Clock Out", activity_logs_path(@activity), class: 'clock-out button', :method => :post, remote: true %>
<% end %>
</div>


<% content_for :extra_footer do %>
  <script>
    $(function(){
      $('.clock').on('ajax:success', function(event, response){
        $link = $(event.target);
        $link.hide();
        if ($link.text() === 'Clock In'){
          $link.text('Clock Out');
        } else {
          $link.text('Clock In');
        }
        $link.show();
      });
    });
  </script>
<% end %>
