<h1> <%= @activity.name %></h1>

<div class='clock'>
<% if !@log %>
  <%= link_to "Clock In", activity_logs_path(@activity), class: 'clock-in button', :method => :post, remote: true %>
<% else %>
  <%= link_to "Clock Out", activity_logs_path(@activity), class: 'clock-out button', :method => :post, remote: true %>
<% end %>
</div>

<div class='timer'>
  <p class= 'time'><span class='hours'></span>:<span class='minutes'></span>:<span class='seconds'></span></p>
</div>


<% content_for :extra_footer do %>
  <script>
    var timer;
    $(function(){
      $('.clock').on('ajax:success', function(event, response){
        $link = $(event.target);
        $link.hide();
        if ($link.text() === 'Clock In'){
          $link.text('Clock Out');
          stopWatch();
          startTimer();
        } else {
          $link.text('Clock In');
          stopTimer();
        }
        $link.show();
      });
      stopWatch('<%= @log.time_clocked_in if @log %>')
      <% if @log %>
        startTimer();
      <% end %>
    });
  </script>
<% end %>
