<div id="search-form">
  <%=simple_form_for :q, url: logs_path, method: :post do |f|%>
    <%= f.input :name, required: false, label: "Site Name Or Country" %>
    <%= f.submit 'Search', class: 'button small'%>
  <%end%>
</div>

<%= pie_chart @activities.map {|activity| [activity.name, activity.logs.sum(:duration)]} %>

