<%- if user_signed_in? %>
  <div class ="row">
    <div class="my-nav">
      <ul>
        <li><%= link_to 'Activities', activities_path%></li>
        <li><%= link_to 'Statements', logs_path  %></li>
        <li><%= link_to 'New Activity', new_activity_path%></li>
      </ul>
    </div>
  </div>
<%-end -%>
