<%- if user_signed_in? %>
  <div class="row">
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <dd><%= link_to 'Activities', activities_path%></dd>
      <dd><%= link_to 'Statements', '#' %></dd>
      <dd><%= link_to 'New Activity', new_activity_path%></dd>
    </dl>
  </div>
<%-end -%>
